DirectoryIndex index.php

RewriteEngine on

#if the framework is in its own folder, uncomment and use the code below
RewriteBase /realestate/

#Otherwise if on a remote web server, uncomment and use the code below
#RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?cmd=$1  [QSA,NC,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Bypass-Req-Validation, Token-Created-At, Last-Renewal-At, Last-Request-At, Userkey, Force-Request-Expiry, Hydrate-User-Session, Refresh-Req-Timestamp, Validate-HP-Input, Content-Type, Cache-Control, Pragma, Origin, Authorization, X-Requested-With"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Max-Age 600
</IfModule>

